
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: Arial, sans-serif;
    color: #ffffff;
    background-color:  #292A2D;
    line-height: 1.6;
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #252627 ;
    color: #A9A9B3;
    flex-wrap: wrap;
}

header h1 {
    font-size: 24px;
    margin-left: 20px;

}

nav a {
    color: #A9A9B3;
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
}

#intro {
    padding: 20px; /* Padding around main content */
    margin: auto; /* Center align main content */
    max-width: 800px; /* Limit width for readability */
    text-align: center; /* Left align text in main content */

}

#intro h2 {
    font-size: 42px;
    margin-bottom: 10px;
    
}

#intro p {
    font-size: 18px;
    margin-bottom: 20px;
    

}

.social-icons a {
    color: #A9A9B3;
    margin: 0 10px;
    text-decoration: none;
}

button {
    padding: 10px 20px;
    border: none;
    color: #fff;
    background-color: #444;
    cursor: pointer;
}

#projects {
    padding: 50px 20px;
    background-color: #292A2D;
}

#projects h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.project-note {
    background-color: #444;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.project-list {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.project-item {
    width: 300px;
    background-color: #333;
    padding: 20px;
    border-radius: 5px;
    text-align: left;
}

.project-item img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.project-item h3 {
    font-size: 20px;
    margin-bottom: 10px;
    
}

.project-item p {
    font-size: 16px;
    margin-bottom: 10px;
}

.project-item a {
    color: #007bff;
    text-decoration: none;
}

footer {
    padding: 20px;
}

@media (max-width: 768px) {
    header h1{
        font-size: 22px; /* Adjust for tablets */
    }
    
    
}

@media (max-width: 480px) {
    header h1 {
        font-size: 18px; /* Adjust for mobile */
    }
    nav{
        /*flex-wrap: wrap;  Allows items to wrap to the next line */
        /*gap: 10px;  Adds spacing between items */
        padding-top:20px;
        display: flex;
        justify-content: space-between;
        flex-basis: 95%;
        font-size:16px;
    }
    #intro h2 {
        font-size: 20px;
        margin-bottom: 10px;
        
    }
    
    
}